
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mengliyev Shahzod</title>
</head>
<body bgcolor="#ddfff7">
    <img src="image/photo_2023-03-15_19-46-51.jpg"; width="200" >
    <h1>Mengliyev Shahzod</h1>
    <p>Lorem, ipsum dolor.</p>
    <hr>
    <h2>Ish faoliyatim</h2>
    <ol>
        <li>Yosh dasturchilarni qullab quvatlash</li>
        <li>TATU Qoshidagi Korea markazi</li>
        <li>FIDO-BIZNES MCHJ</li>
    </ol>
    <hr>
    <h2>Tajribam</h2>
    <ul>
        <li>C++ dasturlash bo'yicha 5 yil.</li>
        <li>Python dasturlash til boyicha 3 yildan ko'proq</li>
        <hr>
    </ul>
    <a href="loyiha.html">Loyhalarim</a>
    <h2>Aloqa uchun</h2>
    <a href="mailto:shahzodmengliyev49@gmail.com">shahzodmengliyev49@gmail.com</a>
    <hr>
    <h2>Ijtimoiy tarmoqlarim</h2>
    <ul>
        <li>Telegram: <a href="https:/t.me/Mengliyev_Shahzod">@Mengliyev_Shahzod</a></li>
        <li>Youtube: <a href="https://www.youtube.com/">Menliyev Shahzod</a></li>
        <li>Instagram: <a href="https://www.instagram.com/">shahzod_mengliyev_2001</a></li>
    </ul>
</body>
</html>